body{
    background-color: rgb(248, 248, 81);
}
.row{
    margin-top: 30px;
}
.card{
    margin-bottom: 20px;
    text-align: center;
    place-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s;
}

.card:hover{
    
    transform: translate3d(-10px, -10px, 0);
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2), 0 30px 50px 0 rgba(0, 0, 0, 0.19);
}
.card-img-top{
    height: 150px;
    width: 150px;
    
    
    
}
.col-lg-3{
    display: flex;
    justify-content: center;
}
.main-head, .character{
    color: orangered;
    font-weight: bolder;
    
}
.sub-head{
    color: darkblue;
    font-weight: bolder;
    margin-top: 20px;
}
.info{
    color: rgb(46, 16, 196);
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 20px;
    
}
.character{
    color: red;
}
.card-title{
    color: red;
    font-weight: bold;
}
.card-text{
    color: blue;
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    .info{
        text-align: justify;
    }

}